<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body style="background-color:bisque">
    <center>
    <h2>Welcome To Login Page</h2>
    <form action="validate" method="post">
        {% csrf_token %}
    <label for="un">Username</label>
    <input type="text" name="un"><br><br>
    <label for="pwd">Password</label>
    <input type="password" name="pwd"><br><br>
    <input type="submit" value="Login">

    </form>    
        
    </center>
  
</body>
</html>